@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

#transaction {
  background-color: var(--background-color);
  padding-top: 20px;
}

.donbox {
  width: 1000px;
  padding: 10px;
  margin-left: 320px;
  background-color: var(--background-color);
  border: 1px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 50%;
}

.donimg {
  width: 20%;
}

.donbox .donhead {
  background: #cf0000;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: "Rubik";
  font-size: 30px;
}

.donbox .donh {
  background: #cf0000;
  border-radius: 7px 7px 0px 0px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: "Rubik";
}

.donation {
  padding: 0px 20px 20px;
}

::-webkit-detailss-marker {
  float: right;
  margin-top: 3px;
}

.det {
  background: #f7d5d5;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 20px;
  font-family: "Rubik";
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
}

.det > p {
  color: var(--text-color);
}

.det .text {
  color: var(--text-color);
  font-size: 14px;
}

details summary {
  outline: none;
}

@media screen and (max-width: 768px) {
  .donbox {
    margin-left: 0px;
    display: flex;
    object-fit: contain;
  }

  #transaction > button {
    margin-top: 5px;
    text-transform: inherit !important;
    border-radius: 25px;
    margin-left: 50px;
  }
}
