.heading {
  margin-top: 200px;
  margin-left: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.Donordash {
  margin-left: 700px;
  width: 300px;
  height: 200px;
}

.para {
  margin-left: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
